@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,700;0,800;1,500&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
.container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    margin: 0 auto;
    
    
}

.logo-name{
    color: #131318;
    font-size: 20px;
    font-weight: 700;
    word-wrap: break-word
}

.logo .logo-name .travel-design{
    color: #FF5400;
    font-size: 20px;
    font-weight: 700;
    word-wrap: break-word
}

.logo-name{
    margin-left: 10px;
}
.container>ul{
    margin: 0 auto;
}

.container>ul a{
    text-decoration: none;
    margin-right: 40px;
    color: #424247;
}
.home-design{
    color: #FF5400;
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word
}
.banner{
    display: flex;
    margin: 0 auto;
    
    width: 100%;
    

}

.banner-img{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0) 100%),url(Images/banner-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 75%;
    height: 500px;
    background-position: center;
    margin:  30px auto;
    border-radius: 15px;
    object-fit: contain;
    
    
    
}

.banner .explore{
    
    text-align: center;
    margin: 80px auto;
    color: white;
    font-size: 3rem;
    font-weight: 800;
    word-wrap: break-word
    
}

.banner p{
    width: 50%;
    margin:  auto;
    
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: 200;
    line-height: 26px;
    word-wrap: break-word;
}
.input-text{
    margin: 20px auto;
    align-items: center;
    padding: 15px;
    width: 90%;
    height: 50px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    font-family: 'Mulish', sans-serif;
   
    
}
.input{
    margin: 0 5px;
    width:20%;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    width:20%;
    border: none;
    outline: none;
    padding: 15px;
    font-family: 'Mulish', sans-serif;
}
   
.btn{
    background-color: #FF5400;
    border-radius: 8px;
    padding: 15px;
    width:20%;
    word-spacing: 2px;
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    border: none;
    outline: none;
}

.popular-tour{
    width: 75%;
    display: flex;
    margin: 30px auto;
    
}

.tour-descrip{
    padding: 20px;
   
}
.popular-tour h2{
    color: #131318;
    font-size: 30px;
    font-weight: 800;
    
}
.popular-tour p ul{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;

}

.popular-tour-img{
   
    padding-left: 20px;
}


.btn-read{
    background-color: #FF5400;
    border-radius: 8px;
    padding: 15px;
    width:40%;
    word-spacing: 2px;
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    border: none;
    outline: none;
}

/* for smaller device */


@media screen and  (max-width:600px) {
    .container > ul a{
        display: none;
    }
    .banner{
        flex-direction: column;
        height: 100%;
    }
    .banner .explore{
        margin: 0;
        font-size: 20px;
    }
    .banner p {
        width: 100%;
        margin-top:3px ;
    }
    .input-text{
        flex-direction: column;
        width: 80%;
        height: 90%;
    }
    .input{
      
        display: block;
        width: 85%;
        margin-top: 30px;
    }
    .btn{
        width: 95%;
        margin-top: 30px;
    }

    .popular-tour{
        flex-direction: column;
        overflow: hidden;
;
    }
    .popular-tour-img img{
       width: 100%;
    }
}


